<div class="banner d-flex">
  <div class="hero-content">
      <h1>Cocktails List</h1>
      <p>The best way to create and store you secret cocktail recipes</p>
      <%= link_to "Create Cocktail", new_cocktail_path, class: "button-cta"%>
  </div>
</div>

<!-- Card style 2 -->
<div class = "cards-container">
  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail">
      <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-cocktail-infos">
        <div>
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
