<div class="banner">
  <div class="mx-5 px-5 d-flex justify-content-center align-items-center">
    <div class="container">
      <h1>Cocktails List</h1>
      <p>Change your life and learn about cocktails.</p>
      <%= link_to "Create new cocktail", new_cocktail_path, class: "button-cta"%>
    </div>
    <img src="https://cdn.dribbble.com/users/464962/screenshots/3353050/codementorxrobot.gif" alt="">
  </div>
</div>

<!-- Card style 2 -->
<div class = "cards-container">
  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail">
      <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-cocktail-infos">
        <div>
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
