<div class="create-container">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <div class="form-container">
          <h1>Create a new cocktail</h1>
          <%= simple_form_for @cocktail do |f| %>
            <%= f.input :name %>
            <%= f.submit "Add Cocktail", class: "button-cta" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Back to Cocktails List", cocktails_path, class: "btn-home" %>
    </div>
  </div>
</div>


