.button-green {
  background: rgb(29,221,135);
  padding: 8px 16px;
  border-radius: 5px;
  color: rgb(255,255,255);

  &:hover {
    text-decoration: none;
    color: rgb(255,255,255);
    background:rgb(25,190,120);
  }
}
