.form-container {
  background: red;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(25,29,39,0.5);
  margin-top: 50px;
  h1, label {
    color: rgb(255,255,255);
  }
  h1{
    margin-bottom: 30px;
  }
}
